@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-primary: #0a0f2c; /* Azul profundo cósmico */
  --color-secondary: #4e4feb; /* Azul eléctrico */
  --color-accent: #04f2e7; /* Turquesa neón */
  --color-light: #c3f6ff; /* Azul muy claro */
  --color-dark: #080a1a; /* Casi negro */
  --color-extra: #ff00ff; /* Fucsia neón - opcional */
  --color-test: #17b8a6;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
